<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <h1><%= blog.title %></h1>
      <img src="<%= blog.coverImageUrl %>" alt="..." width="700px" />
      <p class="mt-3"><%= blog.body %></p>
    </div>

    <div class="container mt-4">
      <h3>
        <img src="<%=blog.createdBy.profileImageUrl %>" alt="" width="50px" />
        <%= blog.createdBy.fullName %> (author)
      </h3>
    </div>

    <div class="container my-4">
      <form method="post" action="/blog/comment/<%=blog._id%>">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="content"
            name="content"
            placeholder="Add your comment"
            required
          />
        </div>
        <% if (locals.user) { %>
        <button type="submit" class="btn btn-primary">Add comment</button>
        <% } else { %>
        <button type="submit" class="btn btn-primary" disabled>
          Add comment
        </button>
        <% } %>
      </form>
    </div>

    <div class="container mt-4">
      <h3>Comments  (<%= comments.length%>)</h3>
      <% comments.forEach(comment => { %>
      <div>
        <h3>
          <img
            src="<%=comment.createdBy.profileImageUrl %>"
            alt="profileImage"
            width="50px"
          />
          <%= comment.createdBy.fullName %>
        </h3>
        <p><%= comment.content%></p>
      </div>
      <% }) %>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
